body {margin:0;font-family:Arial; padding: 0;
  }

.andenNav{
    background-color: #DAE0E8;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.div_left a{
  color: #000;
  text-decoration: none;
}
.kon {
    flex: 1;
    text-align: left;
    margin-top: 10px;
    
}
  
.kon1 {
  flex: 1;
  text-align: right;
  margin-top: 10px;
  
}
.face{
  color: #000;
  margin-right: 10px;
  
}
.link{
  color: #000;
  margin-right: 10px;
  
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 280px;
  }
.topnav {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav a {
  float: left;
  display: block;
  color: #B1D3E4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}



.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #B1D3E4;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #B1D3E4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #47ABD2;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #47ABD2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* FORSIDE*/
.container {
  position: relative;
}

.container img {
  width: 100%;
  height: 80vh;
  
}

.container .btn {
  position: absolute;
  top: 65%;
  left: 38%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #B1D3E4;
  color: white;
  font-size: 16px;
  padding: 22px 32px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 4px #47ABD2;
}

.container .btn:hover {
  background-color: #47ABD2;
}
/*OM BOJE*/
.om{
  height: 80vh;
}
.Omboje{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}
.content{
  color: #000;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 85px;
  margin-right: 85px;
  padding-bottom: 15px;
  line-height: 1.5;
}
/*JOB*/
.jobe{
  margin: 35px;
}
.jobs{
  border: 15px solid #DAE0E8;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgb(6, 6, 6);
 
}
.jobs img{
  width: 100%;
  height: auto;
  
}


/*kontak*/

.row {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px;
}

.column {
  width: 45%;
  padding: 10px;
  height: 300px;
  border: 15px #DAE0E8 solid;
  background-color:#B1D3E4;
  box-shadow: 0 2px 4px rgb(6, 6, 6);
}
.column a{
  text-decoration: none;
}
.column1 {
  width: 45%;
  padding: 10px;
  height: 300px;
  border: 15px #DAE0E8 solid;
  background-color:#B1D3E4;
  box-shadow: 0 2px 4px rgb(6, 6, 6);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-align: center;
}

.kon {
  padding-left: 30px; 
  color: #000;
  text-decoration: none;
}


.icon-bar {
  padding-top: 25px;
  text-align: center;
  
}

.icon-bar a {
  display: inline-block;
  padding: 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 40px;
  margin: 5px;
}

.facebook {
  background: #3B5998;
  color: white;
  border-radius: 5px;
  width: 45px;
}

.linkedin {
  background: #007bb5;
  color: white;
  border-radius: 5px;
  width: 45px;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: row;
  }

  .column, .column1 {
    width: 100%;
    margin: 5px;
  }
}
/*Ydelse deler*/
.case{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #DAE0E8;
  border: 15px solid #fff;
  margin: 10px;
}

.colummnD {
  background: url(images/Data1.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px; 
}
.colummnB {
  background: url(images/Byggstrøm3.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px; 
}
.colummnK {
  background: url(images/Kontor1.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px; 
}
.colummnO {
  background: url(images/ombygning\ .jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px; 
}
.colummnR {
  background: url(images/23019_IMG_5610.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px; 
}
.colummnG {
  background: url(images/Rådgivning.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px; 
}
.colummnT {
  background: url(images/Tilbygning1.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px; 
}
.colummnU {
  background: url(images/elektriker.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  float: right;
  padding: 10px;
  height: 450px;
  margin: 15px;  
}

.colummn1 {
  width: 45%;
  float: left;
  padding: 10px;
  height: 450px;
  margin: 15px 0;
  line-height: 1.7;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-align: center;
}

.bt{
  padding: 15px 20px;
  background-color: #B1D3E4;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgb(6, 6, 6);
  color: white;
  cursor: pointer;
  margin: 25px 15px 15px 25px ;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  width: 96%;
}

.bt:hover {
  background-color: #47ABD2;
}


@media screen and (max-width: 600px) {
  .case {
    flex-direction: row;
  }

  .colummn, .colummn1 {
    width: 100%;
    margin: 5px;
    line-height: normal;
  }
}


@media only screen and (max-width: 768px) {
  .bt {
    padding: 10px 20px;
    font-size: 14px;
  }
  .colummn, .colummn1 {
    line-height: normal;
  }
}
@media screen and (max-width: 480px) {
  .bt {
    font-size: 12px;
    padding: 10px 16px;
  }
  .colummn, .colummn1 {
    line-height: normal;
  }
}

.cas{
  background-color: #DAE0E8;
  margin: 15px;
  height: 80vh;
}
.imagebox {
  width: 45%;
  float: left;
  padding: 15px;
}

.textbox {
  width: 45%;
  float: right;
  padding-top: 20px;
  color: #000;
  padding: 5px;
}
/*Ydelse*/
.ydelse{
  margin: 15px;
 
}
span{
  text-align: center;
}
div.gallery {
  border: 10px solid #B1D3E4;
}
.gallery{
  margin: 15px;
  background-color: #B1D3E4;
}

div.gallery:hover {
  border: 5px solid #47ABD2;
}

div.gallery img {
  width: 100%;
  height: auto;
  
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #fff;
}



.responsive {
  padding: 0 6px;
  float: left;
  width: 31.33333%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.33333%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* få et tilbud */
.få{
  background-color: #DAE0E8;
  margin: 25px;
  box-shadow: 0 2px 4px rgb(6, 6, 6);
}
.form-inline {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.form-inline label {
  margin: 10px 0;
  
}

.form-inline input, .form-inline textarea {
  vertical-align: middle;
  margin: 5px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  
}

.form-inline button {
  padding: 15px 20px;
  background-color: #B1D3E4;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin: 10px 0 10px  ;
  
  border-radius: 30px;
  float: right;
}

.form-inline button:hover {
  background-color: #47ABD2;
}


@media (max-width: 800px) {
  .form-inline input, .form-inline textarea {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}


/*cases*/

.slider-wrapper {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-sizing:border-box;
  
}
/* Hide the images by default */
.mySlides {
  display: none;
  border:15px solid #DAE0E8;
  box-shadow: 0 2px 4px rgb(6, 6, 6);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #47ABD2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #DAE0E8;
}

/* Caption text */
.tex {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #47ABD2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #007bb5;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.tak{
  margin: 30px;
  border: 25px solid #DAE0E8;
  align-items: center;
  justify-content: center;
}
.tak img {
  width: 100%;
  height: 75vh;
}